$body-bg:       #fff;
$body-color:    #4DB8CD;


$theme-colors: (
        primary: blue,
        secondary: grey,
        success: green,
        info: cyan,
        warning: yellow,
        danger: red,
        light: #f0f1f1,
        dark: #a9a9a9
);