$body-bg:       #fff;
$body-color:    black;


$theme-colors: (
        primary: blue,
        secondary: grey,
        success: green,
        info: cyan,
        warning: yellow,
        danger: red,
        light: #d3d3d3,
        dark: #a9a9a9
);