.matrixWrapper{
  .alertBoxWrapper{
    margin: 10px 0 5px 0;
  }
}


.matrix-cells{
  margin: 10px;

  button{
    height: 100%;
    min-width: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }
}


.questionMarkTag{
  background-image: url(../images/question.png);
}

.diamondMarkTag{
  background-image: url(../images/diamond.png);
}

.arrowTag{
  width: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 20px;
  background-image: url(../images/arrow.png);
  position: absolute;
  top: 30%;
  left: -25%;
  z-index: 1;
}



